*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f1f3f6;
    width: 100%;


}
header{
  width: 100%;
  position: fixed;
    margin-top: 0px;
}

.header{
    background:blue;
    height:56px;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;

   
}

.header-container{
    width:75%;
    display:flex;
    align-items:center;
}

.logo{
    display:flex;
    flex-direction:column;
    color:white;
    margin-right:25px;
}

.logo .top{
    font-size:20px;
    font-weight:bold;
    font-style:italic;
}

.logo .bottom{
    font-size:11px;
}

.logo .bottom span{
    color:#ffe500;
    font-weight:bold;
}

.search{
    flex:1;
    display:flex;
}

.search input{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    font-size:14px;
    border-radius:2px 0 0 2px;
}

.search button{
    width:45px;
    border:none;
    background:white;
    cursor:pointer;
    border-radius:0 2px 2px 0;
    color:#2874f0;
    font-size:16px;
}

.menu{
    display:flex;
    align-items:center;
    gap:35px;
    margin-left:30px;
    color:white;
    font-size:14px;
}

.login{
    background:white;
    color:#2874f0;
    padding:6px 35px;
    font-weight:bold;
    border-radius:2px;
    cursor:pointer;
}

.menu div{
    cursor:pointer;
}

.cart i{
    margin-right:5px;
}
main{
  padding-top: 30px;
}
/* Container */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
        }

h1 {
margin-top: 0;
color: #212121;
}

h2 {
color: #2874f0;
margin-top: 30px;
}

p {
color: #555;
line-height: 1.6;
}

 /* Product Section */
  .product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
   }
  /* Product Section */
  .product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  }
  /* Product Section */
  .product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  }

  .product-image {
  flex: 1 1 300px;
  }
  .T-Shirt Image:hover{
  transform: 1.1ease;
  }

  .product-image img {
  width: 100%;
  border-radius: 8px;
  }

  .product-details {
  flex: 2 1 400px;
  }

 .price {
 font-size: 24px;
 color: #388e3c;
 font-weight: bold;
 margin: 10px 0;
 }

 .old-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 10px;
  font-size: 16px;
  }

  .discount {
  color: #d32f2f;
  margin-left: 10px;
  font-weight: bold;
  }

  /* Button */
  .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background-color: #fb641b;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
 }

 .btn:hover {
 background-color: #e55b16;
 }

  /* Features */
  ul {
  padding-left: 20px;
  color: #444;
  }

  /* Footer */
  .footer {
  text-align: center;
  padding: 20px;
  background-color: #172337;
  color: white;
  margin-top: 40px;
  }
  @media(max-width:768px){
  .product-section{
  flex-direction: column;
  }
 }
 footer {
  background: #172337;
  width: 100%;
  height: 360px;
  padding-top: 30px;

}
.footbox {
  width: 1264px;
  display: flex;
  margin: auto;
}
/* BOX 1 STYLE */
.footbox1 {
  border-right: 1px solid rgb(148, 135, 148);
  display: flex;
  width: 660px;
  height: 240px;
  margin-left: 20px;
  margin-right: 2px;
  
}
.ftbox1 {
  width: 150px; 
}
.ftbox2 {
  width: 280px;
}
/* TITLE BOX1 STYLE */
.tlbox {
  width: 140px;
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
   border: none;
}
.tlbox p {
  color: rgb(148, 135, 148);
  margin-top: 2px;
  font-size: 1.1ch;
  margin-left: 21px;

}
/* SECOND FOOTER TITLE BOX STYLE */
.tlbox2 {
  width: 200px;
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.tlbox2 p {
  color: rgb(148, 135, 135);
  margin-top: 2px;
  font-size: 1.1ch;
  margin-left: 21px;
  
}

.content ul li {
  list-style: none;
}

.content ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1ch;
}
.content ul li a:hover {
  text-decoration: underline;
}
/* SECOND FOOTER BOX STYLE */
.footbox2 {
  display: flex;
  width: 620px;
  height: 240px;
}

.content2 p {
  color: white;
  font-size: 1.1ch;
}

.content2 {
  width: 250px;
  height: 100px;
  margin-left: 30px;
}

.content3 {
  width: 250px;
  height: 40px;
  margin-left: 30px;
  display: flex;
  gap: 1px;
}

.contact {
  width: 40px;
  height: 40px;
}

.contact svg {
  color: white;
}

.foot {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  border-top: 1px solid rgb(148, 135, 148);
  display: flex;

}

.ft1 {
  width: 125px;
  margin-top: 15px;
  margin-left: 10px;
}


.ft2 {
  width: 150px;
  margin-top: 10px;
  margin-left: 10px;
}

.ft3 {
  width: 250px;
  margin-top: 3px;
  margin-left: 10px;
}
.ftt{
  margin: auto;
  width: 1300px;
  height: auto;
}
.ft2 p {
  color: white;
  font-size: 1.1ch;
  margin-top: 7px;
}

.ft {
  display: flex;
  gap: 20px;

  

}

.foot1 {
  display: flex;
  width: 620px;
  padding-left: 40px;
  gap: 15px;

}

.ft1 a svg {
  color: rgb(14, 212, 14);
  margin-bottom: 5px;
  margin-right: 8px;
}

.foot .foot1 .ft1 a {
  text-decoration: none;
  color: white;
  font-size: 1.1ch;
}

@media(max-width:1000px) {
  nav ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: auto;
    background: white;
    border: 1px solid black;
  }

}